@media (max-width: 1200px) {
    .header {
        padding: 0px 32px;
    }

    .nav {
        &__left {
            padding-left: 16px;
        }

        &__right {
            padding-right: 16px;
        }
    }

    .social {
        padding: 0px 32px;
    }

    .order {
        gap: 30px;
    }

    .registration {
        padding-left: 16px;
        padding-right: 16px;

        &__loyal-title {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 32px;
        }

        &__loyal-heading {
            font-size: 16px;
            line-height: 19px;
        }

        &__loyal-text {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

@media (max-width: 1140px) {
    .options-wrap {
        max-width: 750px;
    }

    .center2 {
        padding-left: calc(50% - 375px);
        padding-right: calc(50% - 375px);
    }

    .item {
        width: 100%;
    }

    .order {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;

        &__card-button {
            justify-content: center;
            margin-top: 21px;
            gap: 48px;
        }

        &__form {
            margin-top: 38px;
            flex-direction: row;
            gap: 15px;
            align-items: center;
        }

        &__total {
            box-sizing: border-box;
        }

        &__card_up-svg {
            z-index: 2;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &__checkbox:checked~.mobile-menu {
            opacity: 1;
            z-index: 3;
        }
    }

    .mobile-menu {
        opacity: 0;
    }

    .promo {
        &__img {
            width: 50%;
        }

        &__content {
            display: flex;
            align-items: center;
            margin-left: 0;
        }

        &__info {
            margin-top: 0;
        }

        &__title {
            font-size: 44px;
            line-height: 53px;
        }

        &__heading {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .sale {
        margin: 0 16px;
        gap: 16px;

        &__item_big {
            min-height: 116px;
        }
    }

    .product {
        &__card {
            padding: 0px 16px;
            gap: 16px;
            margin-bottom: 32px;
        }
    }

    .offers {
        margin-top: 64px;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .subscribe {
        padding-top: 64px;
        padding-bottom: 140px;
        flex-direction: column;
        gap: 48px;
    }
}

@media (max-width: 900px) {
    .registration {
        gap: 22px;
    }
}

@media (max-width: 768px) {
    .nav {
        margin-bottom: 81px;
    }

    .center3 {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .options-wrap {
        top: -70px;
    }

    .filter {

        &__heading-span {
            display: none;
        }

        &__heading-svg {
            width: 38px;
            height: 25px;
        }

        &__sort-wrap {
            margin-left: -310px;
        }
    }

    .filter[open] {
        z-index: 4;
    }

    .select {

        &__trend {
            width: 115px;
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &__size {
            width: 45px;
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            color: #6F6E6E;
            margin-right: 15px;
            gap: 8px;

            &-wrap {
                width: 36px;
            }
        }

        &__discount {
            width: 53px;
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            gap: 8px;
        }
    }

    .carousel {
        height: 624px;
        margin-top: -81px;

        &__slider-wrapper {
            width: 466px;
        }

    }

    .registration {
        margin-top: -17px;
    }
}

@media (max-width: 760px) {
    .order {
        &__form {
            flex-direction: column;
        }

        &__total {
            margin-top: 33px;
        }
    }

    .registration {
        flex-direction: column;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: -44px;
        gap: 40px;

        &__loyal {
            width: 100%;
        }
    }
}

@media (max-width: 720px) {
    .promo {
        &__img {
            width: 45%;
        }
    }
}

@media (max-width: 670px) {
    .sale {
        &__item_big {
            min-height: 90px;
        }
    }

    .promo {
        &__title {
            font-size: 38px;
            line-height: 45px;
        }

        &__heading,
        &__span {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .item {
        &__card {
            padding-left: 24px;
            padding-right: 24px;
        }

        &__card__text {
            max-width: 100%;
        }

        &__card__price {
            width: 174px;
        }
    }

    .order {
        &__card_up {
            width: 100%;
        }
    }
}

@media (max-width: 620px) {
    .order {

        &__card_up-content-title {
            font-size: 16px;
            line-height: 19px;
            width: 143px;
            margin-bottom: 26px;
        }

        &__card_up-content-price,
        &__card_up-content-color,
        &__card_up-content-size,
        &__card_up-content-quantity,
        &__card_up-content-sort {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 4px;
        }

        &__card_up-svg {
            width: 10px;
            height: 10px;
        }

        &__card_up-img {
            width: 220px;
        }

        &__card_up-content {
            padding: 14px 0 38px 0;
        }
    }
}

@media (max-width: 560px) {
    .carousel {

        &__slider-wrapper {
            width: 440px;
        }
    }

    .order {
        &__card_up {
            width: 90%;
        }

        &__card_up-img {
            width: 150px;
        }

        &__card-button-clear,
        &__card-button-continue {
            width: 175px;
            height: 33px;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

@media (max-width: 520px) {
    .nav {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }

    .promo {
        padding: 148px 0px 148px 0px;
        justify-content: center;

        &__img {
            display: none;
        }
    }

    .sale {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 64px;

        &__item_big-img {
            height: 111px;
        }

        &__item_big {
            max-width: 360px;
            height: 111px;
        }
    }

    .social {
        flex-direction: column-reverse;
        padding-top: 43px;
        gap: 40px;
        padding-bottom: 9px;
    }
}

@media (max-width: 440px) {
    .carousel {
        height: 600px;

        &__slider-wrapper {
            width: 400px;
        }
    }

    .filter {
        width: 330px;
    }

    .item {

        &__sort_color,
        &__sort_size,
        &__sort_quantity {
            font-size: 10px;
            line-height: 12px;
            gap: 9px;
        }

        .select__trend-wrap {
            width: 75px;
        }
    }

    .order {
        &__card_up {
            gap: 17px;
            width: 360px;
        }

        &__card_up-img {
            width: 143px;
        }

        &__card_up-svg {
            margin-right: 12px;
        }

        &__card-button {
            gap: 9px;
        }
    }
}

@media (max-width: 400px) {
    .header {
        &__right-registr {
            display: none;
        }

        &__right-cart {
            display: none;
        }
    }

    .form__input {
        width: 245px;
    }

    .form__button {
        width: 96px;
    }
}

@media (max-width: 376px) {

    .sale {
        padding-bottom: 64px;
    }

    .product {
        &__card {
            padding: 0px 8px;
            margin-bottom: 40px;
        }

        .offers {
            padding-left: 13px;
            padding-right: 13px;
        }
    }

    .subscribe {
        padding-bottom: 96px;

        &__left_heading {
            font-size: 19px;
            line-height: 22px;
        }

        &__left_span {
            font-size: 18px;
            line-height: 22px;
        }

        &.subscribe__right_title {
            line-height: 36px;
        }

        &__right_heading {
            font-size: 14px;
            line-height: 22px;
        }
    }

    .form__input {
        width: 235px;
    }

    .carousel {
        height: 500px;

        &__slider-wrapper {
            width: 270px;
        }
    }
}