@import 'vars';

body {
    font-family: 'Lato', 'sans-serif';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ul {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.center {
    padding-left: calc(50% - #{$widthSite / 2});
    padding-right: calc(50% - #{$widthSite / 2});
}

.top {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}

.header {
    min-height: 75px;
    background: $colorContent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }

    &__img {
        cursor: pointer;
    }

    &__checkbox {
        position: absolute;
        visibility: hidden;
        left: -9999999px;
    }

    &__checkbox:checked~.mobile-menu {
        right: 0;
    }
}

.mobile-menu {
    width: $widthMobileMenu;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    position: absolute;
    top: 75px;
    right: -$widthMobileMenu;
    transition: 0.4s;
    z-index: 1;

    &__link-site {
        align-items: center;
        justify-content: space-around;
        background-color: #e8e8e8;
        padding: 8px;
        border-radius: 10px;
        margin-bottom: 24px;
        display: none;
    }

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 24px;
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorSite;
    }

    &__list {
        padding-left: 24px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        margin-top: 12px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &:hover {
            color: $colorSite;
        }
    }
}

.promo {
    display: flex;
    background-color: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);

    &__img {
        width: 56%;
    }

    &__info {
        border-left: 12px solid $colorSite;
        padding-left: 16px;
        margin-top: 72%;
    }

    &__title {
        color: #222;
        font-size: 48px;
        line-height: 58px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    &__heading {
        color: #222;
        font-size: 32px;
        line-height: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    &__span {
        color: $colorSite;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__content {
        margin-left: -32px;
    }
}

.sale {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 96px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__text {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-block-start: 0px;
        margin-block-end: 0px;
        line-height: 19px;
    }

    &__heading {
        color: $colorSite;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    &__item {
        position: relative;
    }

    &__item_img {
        filter: brightness(0.5);
    }

    &__item_bright {
        filter: brightness(1);
    }

    &__item_big {
        min-height: 180px;
        grid-column: 1 / -1;
    }
}

.product {
    display: flex;
    flex-direction: column;
    position: relative;
    ;

    &__title {
        color: #222;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 6px auto;
    }

    &__heading {
        color: #9F9F9F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0 auto 48px;
    }

    &__card {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        max-width: 1140px;
        margin-bottom: 48px;
    }

    &__button {
        color: $colorSite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 212px;
        height: 48px;
        border: 1px solid #F26376;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: 0.5s;
        margin: 0 auto;
    }

    &__button:hover {
        color: #FFF;
        background-color: $colorSite;
    }

    &__page {
        display: flex;
        width: 284px;
        justify-content: space-around;
        margin: 0 auto;
    }

    &__page_number,
    &__page_more {
        color: #EBEBEB;
    }

    &__page_number path,
    &__page_more path {
        fill: black;
    }

    &__page_number:hover path,
    &__page_more:hover path {
        fill: $colorSite;
    }

    &__page_number:hover {
        color: $colorSite;
    }
}

.card {
    max-width: 360px;
    background-color: #F8F8F8;
    transition: 0.5s;
    position: relative;

    &__img {
        transition: 0.5s;
    }

    &__title {
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__heading {
        color: #5D5D5D;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__price {
        color: $colorSite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 25px 0 24px 16px;
    }

    &__button {
        position: absolute;
        display: none;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 139px;
        height: 44px;
        flex-shrink: 0;
        top: 188px;
        left: 111px;
        border: 1px solid #FFF;
        transition: 0.5s;
    }

    &:hover .card__img {
        filter: brightness(0.5);
    }

    &__button:hover {
        box-shadow: 0 0 5px #fff;
    }

    &:hover .card__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}

.offers {
    background-color: $colorContent;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    gap: 30px;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    margin-top: 96px;

    &__delivery,
    &__sales,
    &__quality {
        display: flex;
        max-width: 355px;
        flex-direction: column;
        align-items: center;
    }

    &__delivery_title {
        color: $colorText;
        font-size: 19.96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 22px;
        margin-bottom: 16px;
    }

    &__delivery_heading {
        color: $colorText;
        text-align: center;
        font-size: 13.972px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.subscribe__wrap {
    background-image: url('../img/Layer\ 41.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 150px;
    padding-bottom: 156px;

    .subscribe__left {
        max-width: 360px;
        flex-direction: column;
        text-align: center;
    }

    &__left_heading {
        color: $colorContent;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        font-style: normal;
        font-weight: 400;
        margin-top: 30px;
    }

    &__left_span {
        color: $colorContent;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__right_title {
        color: $colorContent;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
    }

    &__right_heading {
        color: $colorContent;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 167.2%;
        margin-bottom: 32px;
    }

    &__right_form {
        display: flex;
    }
}

.form__input {
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 22px;
    outline: none;
}

.form__button {
    width: 100px;
    height: 51px;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: $colorSite;
    color: $colorText;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    height: 79px;
    background-color: $colorContent;

    &__left {
        color: $colorText;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__right {
        display: flex;
        gap: 8px;
    }
}

.facebook__wrap,
.instagram__wrap,
.pinterest__wrap,
.twitter__wrap {
    width: 32px;
    height: 32px;
    background-color: $colorText;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.facebook,
.instagram,
.pinterest,
.twitter {
    transition: 0.5s;
}

.facebook__wrap:hover,
.instagram__wrap:hover,
.pinterest__wrap:hover,
.twitter__wrap:hover {
    background-color: $colorSite;
}

.facebook__wrap:hover .facebook,
.instagram__wrap:hover .instagram,
.pinterest__wrap:hover .pinterest,
.twitter__wrap:hover .twitter {
    fill: $colorText;
}

.nav {
    min-height: 148px;
    background-color: #F8F3F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 132px;

    &__left_link {
        font-weight: 400;
        size: 24px;
        line-height: 29px;
        color: $colorSite;
    }

    &__right {
        display: flex;
    }

    &__right_link {
        font-weight: 300;
        size: 14px;
        line-height: 17px;
        color: #636363;
        transition: 0.3s;

        &:hover {
            color: $colorSite;
        }
    }

    &__right-box:last-child &__right_link {
        font-weight: 700;
        size: 14px;
        line-height: 19px;
        color: $colorSite;
    }

    &__right-box:not(:last-child)::after {
        content: "/";
        font-weight: 300;
        size: 14px;
        line-height: 17px;
        color: #636363;
        padding-right: 8px;
        padding-left: 8px;
    }
}

.options-wrap {
    position: relative;
    max-width: 1140px;
    top: -81px;

    .options {
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: baseline;
    }
}

.filter {
    width: 360px;
    padding: 16px;
    margin-right: 30px;
    cursor: pointer;

    &__sort-wrap {
        display: flex;
    }
}

.filter__heading,
.category__heading,
summary {
    display: block;
}

.filter__heading {
    margin-bottom: 16px;
    width: 80px;
    display: flex;
    gap: 11px;
    align-items: center;

    & path {
        fill: black;
    }
}


.filter__heading::-webkit-details-marker,
.category__heading::-webkit-details-marker,
summary::-webkit-details-marker {
    display: none;
}


.filter[open] path {
    fill: $colorSite;
}

.filter[open]>.filter__heading {
    color: $colorSite;
}

.filter[open] {
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.category {
    display: flex;

    &[open] &__heading {
        color: $colorSite;
    }

    &__heading {
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        border-left: 5px solid $colorSite;
        height: 37px;
        display: flex;
        align-items: center;
        padding-left: 11px;
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 24px;
    }

    &__heading_link {
        color: #6F6E6E;
        padding-bottom: 11px;
        padding-left: 16px;
    }

    &__heading_link:hover {
        color: $colorSite;
    }
}

.select {
    &__trend {
        width: 132px;
        height: 17px;
        border: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-right: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        margin-bottom: 5px;

        &-span {
            color: #6F6E6E;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 6px;
            background-color: #FFFFFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 7px 9px;
            width: 100px;
        }
    }

    &__size {
        width: 50px;
        height: 17px;
        border: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-right: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        margin-bottom: 5px;

        &-span {
            color: #6F6E6E;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 6px;
            background-color: #FFFFFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 7px 9px;
            width: 45px;
        }
    }

    &__discount {
        width: 60px;
        height: 17px;
        border: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        margin-bottom: 5px;

        &-span {
            color: #6F6E6E;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 6px;
            background-color: #FFFFFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 7px 9px;
        }
    }


}

.carousel {
    background-color: #F7F7F7;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 777px;
    margin-top: -132px;

    &__prev {
        display: flex;
        transition: 0.5s;
        border: none;
        background-color: rgba(42, 42, 42, 0.15);
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 47px;
        transition: 0.5s;

        &:hover {
            box-shadow: 0 0 5px #5f4545;
        }

        &:hover svg {
            fill: $colorSite;
        }
    }

    &__slider-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 596px;
        overflow: hidden;
    }

    &__slider-line {
        display: flex;
        position: relative;
        left: 0;
        transition: 0.5s;
    }

    &__next {
        display: flex;
        transition: 0.5s;
        border: none;
        background-color: rgba(42, 42, 42, 0.15);
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 47px;
        transition: 0.5s;
        transform: rotate(180deg);

        &:hover {
            box-shadow: 0 0 5px #5f4545;
        }

        &:hover svg {
            fill: $colorSite;
        }
    }
}

.item {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    border: 1px solid #EAEAEA;
    z-index: 2;
    margin-top: -65px;
    background-color: #FFF;
    margin-bottom: 128px;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 65px;
    }

    &__card__title {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $colorSite;
        padding-bottom: 12px;
    }

    &__card-line {
        width: 64px;
        height: 3px;
        background-color: $colorSite;
    }

    &__card__heading {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
        margin-bottom: 50px;
        padding-top: 12px;
    }

    &__card__text {
        width: 555px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
        margin-bottom: 32px;
    }

    &__card__price {
        width: 642px;
        text-align: center;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $colorSite;
        margin-bottom: 130px;
        border-bottom: 1px solid #EAEAEA;
        padding-bottom: 65px;
    }

    &__sort {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__sort-wrap {
        top: -65px;
        display: flex;
        gap: 22px;
        justify-content: center;
        position: absolute;
    }

    &__sort_color {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        display: flex;
        align-items: center;
        gap: 9px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    &__sort_size {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        display: flex;
        align-items: center;
        gap: 9px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    &__sort_quantity {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        display: flex;
        align-items: center;
        gap: 9px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    &__sort_button {
        display: flex;
        color: $colorSite;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 212px;
        height: 48px;
        flex-shrink: 0;
        border: 1px solid #FF6A6A;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        gap: 22px;
        margin-bottom: 65px;
        transition: 0.5s;

        & svg {
            fill: #FF6A6A;
            transition: 0.5s;
        }

        &:hover {
            color: #FFFFFF;
            background-color: $colorSite;
        }

        &:hover svg {
            fill: #FFFFFF;

        }
    }
}

.catalog {
    margin-bottom: 128px;
}

.order {
    display: flex;
    gap: 128px;
    justify-content: center;
    margin-top: -36px;
    margin-bottom: 128px;

    &__card {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    &__card_up {
        display: flex;
        gap: 31px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        width: 650px;
    }

    &__card_up-img {
        width: 260px;
    }

    &__card_up-content {
        width: 390px;
        padding: 22px 0 62px 0;
    }

    &__card_up-content-title-wrap {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__card_up-content-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        width: 210px;
        margin-bottom: 42px;
    }

    &__card_up-svg {
        fill: #575757;
        margin-right: 22px;
    }

    &__card_up-svg:hover {
        fill: #EF5B70;
    }

    &__card_up-content-price {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        margin-bottom: 6px;

        &-span {
            color: $colorSite;
        }
    }

    &__card_up-content-color {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        margin-bottom: 6px;
    }

    &__card_up-content-size {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        margin-bottom: 6px;
    }

    &__card_up-content-sort {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    &__card_up-content-quantity {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
    }

    &__card_up-select {
        width: 44px;
        height: 24px;
        border-color: #EAEAEA;
        color: #656565;
        outline: none;
    }

    &__card-button {
        display: flex;
        justify-content: space-between;
        margin-top: 41px;
        gap: 191px;
    }

    &__card-button-clear {
        display: flex;
        width: 235px;
        height: 50px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #575757;
        border: 1px solid #A4A4A4;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        &:hover {
            border: 1px solid $colorSite;
            background-color: $colorSite;
            color: #FFFFFF;
        }
    }

    &__card-button-continue {
        display: flex;
        width: 235px;
        height: 50px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #575757;
        border: 1px solid #A4A4A4;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        &:hover {
            border: 1px solid $colorSite;
            background-color: $colorSite;
            color: #FFFFFF;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__form-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__form-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    &__form-input {
        width: 340px;
        padding: 13px 0 16px 17px;
        outline: none;

        &::placeholder {
            color: #B1B1B1;
        }
    }

    &__form-button {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        display: flex;
        color: #575757;
        border: 1px solid #A4A4A4;
        width: 101px;
        height: 35px;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        &:hover {
            border: 1px solid $colorSite;
            background-color: $colorSite;
            color: #FFFFFF;
        }
    }

    &__total {
        background-color: #F5F3F3;
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 34px;
        padding-bottom: 42px;
    }

    &__total__heading {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        padding-top: 39px;
    }

    &__total__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        padding-top: 12px;
        text-align: end;

        &-span {
            color: $colorSite;
        }
    }

    &__total-line {
        border-bottom: 1px solid #E2E2E2;
        margin: 21px 10px 17px;
        width: 273px;
    }

    &__total__button {
        display: flex;
        width: 273px;
        height: 50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #575757;
        border: 1px solid #A4A4A4;
        transition: 0.5s;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        &:hover {
            border: 1px solid $colorSite;
            background-color: $colorSite;
            color: #FFFFFF;
        }
    }
}

.small {
    width: 102px;
    padding: 10px 14px 12px;
    margin-top: 3px;
}

.registration {
    display: flex;
    justify-content: center;
    gap: 128px;
    margin-bottom: 96px;
    margin-top: -68px;

    &__form-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__form-title {
        font-weight: 400;
        font-size: 16px;
        list-style: 19px;
        color: #222222;
    }

    &__form-input {
        width: 340px;
        padding: 13px 0 16px 17px;
        outline: none;

        &::placeholder {
            color: #B1B1B1;
        }
    }

    &__form-gender {
        display: flex;
        gap: 20px;
        margin: 11px 0 11px 0;

        &-lable {
            display: flex;
            gap: 10px;
        }
    }

    &__form-text {
        font-weight: 400;
        font-size: 13px;
        list-style: 16px;
        color: #B1B1B1;
        width: 360px;
        margin-top: -5px;
        margin-bottom: 19px;
    }

    &__form-button {
        width: 167px;
        height: 50px;
        display: flex;
        border: 1px solid $colorSite;
        color: $colorSite;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: 0.5s;

        & svg {
            fill: $colorSite;
            transition: 0.5s;
        }

        &:hover {
            background-color: $colorSite;
            color: #FFFFFF;
        }

        &:hover svg {
            fill: #FFFFFF;
        }
    }

    &__loyal {
        width: 650px;
    }

    &__loyal-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 22px;
    }

    &__loyal-heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 22px;
    }

    &__loyal-text-wrap {
        display: flex;
        align-items: baseline;
        gap: 22px;
    }

    &__loyal-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 16px;
    }

}

//media
@import 'media';