body {
  font-family: "Lato", "sans-serif";
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ul {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  min-height: 75px;
  background: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.promo {
  display: flex;
  background-color: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.promo__img {
  width: 56%;
}
.promo__info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 72%;
}
.promo__title {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.promo__heading {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.promo__span {
  color: #F16D7F;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.promo__content {
  margin-left: -32px;
}

.sale {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 96px;
}
.sale__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sale__text {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.sale__heading {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.sale__item {
  position: relative;
}
.sale__item_img {
  filter: brightness(0.5);
}
.sale__item_bright {
  filter: brightness(1);
}
.sale__item_big {
  min-height: 180px;
  grid-column: 1/-1;
}

.product {
  display: flex;
  flex-direction: column;
  position: relative;
}
.product__title {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 6px auto;
}
.product__heading {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto 48px;
}
.product__card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1140px;
  margin-bottom: 48px;
}
.product__button {
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 212px;
  height: 48px;
  border: 1px solid #F26376;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  margin: 0 auto;
}
.product__button:hover {
  color: #FFF;
  background-color: #F26376;
}
.product__page {
  display: flex;
  width: 284px;
  justify-content: space-around;
  margin: 0 auto;
}
.product__page_number, .product__page_more {
  color: #EBEBEB;
}
.product__page_number:hover {
  color: #EF5B70;
}

.card {
  max-width: 360px;
  background-color: #F8F8F8;
  transition: 0.5s;
  position: relative;
}
.card__img {
  transition: 0.5s;
}
.card__title {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__heading {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card__price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 25px 0 24px 16px;
}
.card__button {
  position: absolute;
  display: none;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 139px;
  height: 44px;
  flex-shrink: 0;
  top: 188px;
  left: 111px;
  border: 1px solid #FFF;
  transition: 0.5s;
}
.card:hover .card__img {
  filter: brightness(0.5);
}
.card__button:hover {
  box-shadow: 0 0 5px #fff;
}
.card:hover .card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.offers {
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  gap: 30px;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  margin-top: 96px;
}
.offers__delivery, .offers__sales, .offers__quality {
  display: flex;
  max-width: 355px;
  flex-direction: column;
  align-items: center;
}
.offers__delivery_title {
  color: #FBFBFB;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 22px;
  margin-bottom: 16px;
}
.offers__delivery_heading {
  color: #FBFBFB;
  text-align: center;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe__wrap {
  background-image: url("../img/Layer 41.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 150px;
  padding-bottom: 156px;
}
.subscribe .subscribe__left {
  max-width: 360px;
  flex-direction: column;
  text-align: center;
}
.subscribe__left_heading {
  color: #222222;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}
.subscribe__left_span {
  color: #222222;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__right_title {
  color: #222222;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.subscribe__right_heading {
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 32px;
}
.subscribe__right_form {
  display: flex;
}

.form__input {
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 22px;
  outline: none;
}

.form__button {
  width: 100px;
  height: 51px;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #F16D7F;
  color: #FBFBFB;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  height: 79px;
  background-color: #222222;
}
.social__left {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.social__right {
  display: flex;
  gap: 8px;
}

.facebook__wrap,
.instagram__wrap,
.pinterest__wrap,
.twitter__wrap {
  width: 32px;
  height: 32px;
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.facebook,
.instagram,
.pinterest,
.twitter {
  transition: 0.5s;
}

.facebook__wrap:hover,
.instagram__wrap:hover,
.pinterest__wrap:hover,
.twitter__wrap:hover {
  background-color: #F16D7F;
}

.facebook__wrap:hover .facebook,
.instagram__wrap:hover .instagram,
.pinterest__wrap:hover .pinterest,
.twitter__wrap:hover .twitter {
  fill: #FBFBFB;
}

.nav {
  min-height: 148px;
  background-color: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 132px;
}
.nav__left_link {
  font-weight: 400;
  size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.nav__right {
  display: flex;
}
.nav__right_link {
  font-weight: 300;
  size: 14px;
  line-height: 17px;
  color: #636363;
}
.nav__right_link:hover {
  color: #F16D7F;
}
.nav__right-box:last-child .nav__right_link {
  font-weight: 700;
  size: 14px;
  line-height: 19px;
  color: #F16D7F;
}
.nav__right-box:not(:last-child)::after {
  content: "/";
  font-weight: 300;
  size: 14px;
  line-height: 17px;
  color: #636363;
  padding-right: 8px;
  padding-left: 8px;
}

.options {
  position: absolute;
  top: -81px;
  z-index: 2;
  display: flex;
}

.filter {
  width: 360px;
  padding: 16px;
  margin-right: 30px;
  cursor: pointer;
}

.filter__heading,
.category__heading,
summary {
  display: block;
}

.filter__heading {
  margin-bottom: 16px;
  width: 80px;
}

.filter__heading::-webkit-details-marker,
.category__heading::-webkit-details-marker,
summary::-webkit-details-marker {
  display: none;
}

.filter .filter__heading::after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='15' height='10' viewBox='0 0 15 10' fill='black' xmlns='http://www.w3.org/2000/svg'> <path d='M0.833333 10H4.16667C4.625 10 5 9.625 5 9.16667C5 8.70833 4.625 8.33333 4.16667 8.33333H0.833333C0.375 8.33333 0 8.70833 0 9.16667C0 9.625 0.375 10 0.833333 10ZM0 0.833333C0 1.29167 0.375 1.66667 0.833333 1.66667H14.1667C14.625 1.66667 15 1.29167 15 0.833333C15 0.375 14.625 0 14.1667 0H0.833333C0.375 0 0 0.375 0 0.833333ZM0.833333 5.83333H9.16667C9.625 5.83333 10 5.45833 10 5C10 4.54167 9.625 4.16667 9.16667 4.16667H0.833333C0.375 4.16667 0 4.54167 0 5C0 5.45833 0.375 5.83333 0.833333 5.83333Z' fill='black' /></svg> ");
  padding-left: 11px;
}

.filter[open] > .filter__heading::after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='15' height='10' viewBox='0 0 15 10' fill='red' xmlns='http://www.w3.org/2000/svg'> <path d='M0.833333 10H4.16667C4.625 10 5 9.625 5 9.16667C5 8.70833 4.625 8.33333 4.16667 8.33333H0.833333C0.375 8.33333 0 8.70833 0 9.16667C0 9.625 0.375 10 0.833333 10ZM0 0.833333C0 1.29167 0.375 1.66667 0.833333 1.66667H14.1667C14.625 1.66667 15 1.29167 15 0.833333C15 0.375 14.625 0 14.1667 0H0.833333C0.375 0 0 0.375 0 0.833333ZM0.833333 5.83333H9.16667C9.625 5.83333 10 5.45833 10 5C10 4.54167 9.625 4.16667 9.16667 4.16667H0.833333C0.375 4.16667 0 4.54167 0 5C0 5.45833 0.375 5.83333 0.833333 5.83333Z' fill='ef6b5b' /></svg> ");
  padding-left: 11px;
}

.filter[open] > .filter__heading {
  color: #EF5B70;
}

.filter[open] {
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.category {
  display: flex;
}
.category[open] .category__heading {
  color: #EF5B70;
}
.category__heading {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border-left: 5px solid #EF5B70;
  height: 37px;
  display: flex;
  align-items: center;
  padding-left: 11px;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 24px;
}
.category__heading_link {
  color: #6F6E6E;
  padding-bottom: 11px;
  padding-left: 16px;
}
.category__heading_link:hover {
  color: #EF5B70;
}

.select__trend {
  width: 132px;
  height: 17px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}
.select__trend-span {
  color: #6F6E6E;
}
.select__trend-wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 9px;
  width: 100px;
}
.select__size {
  width: 50px;
  height: 17px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}
.select__size-span {
  color: #6F6E6E;
}
.select__size-wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 9px;
  width: 45px;
}
.select__discount {
  width: 60px;
  height: 17px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}
.select__discount-span {
  color: #6F6E6E;
}
.select__discount-wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 9px;
}

.carousel {
  background-color: #F7F7F7;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 777px;
  margin-top: -132px;
}
.carousel__prev {
  display: flex;
  transition: 0.5s;
  border: none;
  background-color: #d4d4d4;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  transition: 0.5s;
}
.carousel__prev:hover {
  box-shadow: 0 0 5px #5f4545;
}
.carousel__prev:hover svg {
  fill: #F16D7F;
}
.carousel__slider-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 596px;
  overflow: hidden;
}
.carousel__slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: 0.5s;
}
.carousel__next {
  display: flex;
  transition: 0.5s;
  border: none;
  background-color: #d4d4d4;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  transition: 0.5s;
  transform: rotate(180deg);
}
.carousel__next:hover {
  box-shadow: 0 0 5px #5f4545;
}
.carousel__next:hover svg {
  fill: #F16D7F;
}

.item {
  position: absolute;
  width: 1140px;
  margin: 0 auto;
  border: 1px solid #EAEAEA;
  z-index: 1;
  margin-top: -60px;
  left: 50%;
  transform: translate(-50%, -1%);
  background-color: #FFF;
}
.item__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}
.item__card__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-bottom: 12px;
}
.item__card-line {
  width: 64px;
  height: 3px;
  background-color: #EF5B70;
}
.item__card__heading {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 50px;
  padding-top: 12px;
}
.item__card__text {
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
}
.item__card__price {
  width: 642px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 130px;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 65px;
}
.item__sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.item__sort-wrap {
  top: -65px;
  display: flex;
  gap: 22px;
  justify-content: center;
  position: absolute;
}
.item__sort_color {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 5px;
  cursor: pointer;
}
.item__sort_size {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 5px;
  cursor: pointer;
}
.item__sort_quantity {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 5px;
  cursor: pointer;
}
.item__sort_button {
  display: flex;
  color: #FF6A6A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  border: 1px solid #FF6A6A;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-bottom: 65px;
}
.item__sort_button:hover {
  box-shadow: 0 0 5px #FF6A6A;
}

.catalog {
  margin-top: 334px;
}/*# sourceMappingURL=style.css.map */